# Scraping Safeguarding long-term prosperity from People’s Daily

## 2.1 Contents<a id='2.1_Contents'></a>
* [2.1 Importing Relevant Tools](#2.1_Importing)
* [2.2 Defining the Request](#2.2_URL)
* [2.3 Grab | Date](#2.4_scrape_date)
* [2.4 Grab | Header](#2.4_scrape_header)
* [2.5 Grab | Content](#2.4_scrape_content)
* [2.6 Clean | Send to DataFrame](#2.5_review)
* [2.7 Save](#2.6_save)

**Importing Relevant Tools**<a id='2.1_Importing'></a>

In [1]:
import json
import pandas as pd
from bs4 import BeautifulSoup as soup
import requests
import csv
import re
import pickle

%reload_ext watermark

In [2]:
#the below needs to be reviewed for all websites; notably the time format

from datetime import date
from datetime import datetime
today = date.today()
d = today.strftime("%m-%d-%y")

For reference.

In [3]:
%watermark -d -t -v -p pandas

Python implementation: CPython
Python version       : 3.8.5
IPython version      : 7.19.0

pandas: 1.1.3

**Defining the Request**<a id='2.2_URL'></a>

In [4]:
url = 'http://en.people.cn/n3/2020/0702/c90000-9706374.html'
content = requests.get(url).content
url

'http://en.people.cn/n3/2020/0702/c90000-9706374.html'

In [5]:
soup = soup(content,'html.parser')
# bsobj

**Grab | Date**<a id='2.4_scrape_date'></a>

In [6]:
for date in soup.find_all('div',{'class':'wb_1 clear'}):
    print(date.text.strip())

By Md Enamul Hassan (People's Daily Online)    16:02, July 02, 2020

That is the date but needs some work cleaning it up.

**Grab | Header**<a id='2.4_scrape_header'></a>

In [7]:
for title in soup.find_all('span',{'id','p_title'}):
    print(title.get_text.strip())

In [8]:
for title in soup.find_all('span',{'id':'p_title'}):
    print(title)

<span id="p_title">National Security Law paves the way for more prosperous Hong Kong</span>

In [9]:
TAG_RE = re.compile(r'<[^>]+>')

In [10]:
def remove_tags(text):
    return TAG_RE.sub('', text)

In [11]:
remove_tags(str(title))

'National Security Law paves the way for more prosperous Hong Kong'

Confirmed that's the title; a little longer of a journey to get it.

**Grab | Content**<a id='2.4_scrape_content'></a>

In [12]:
for bodies in soup.find_all('div',{'class','wb_12 wb_12b clear'}):
    print(bodies.text.strip())

Hong Kong, the popular Asian city, returned to its motherland China after a century of British colonial rule on this very day 23 years ago, on July 1, 1997. Hong Kong was an inseparable part of China, but became a British colony after the Qing dynasty ceded it to the British Empire in 1842 through the Treaty of Nanjing, ending the First Opium War.



Hong Kong citizens celebrate the passage of the Law of the People's Republic of China on Safeguarding National Security in the Hong Kong Special Administrative Region (HKSAR) in Causeway Bay of south China's Hong Kong, June 30, 2020. The law was passed at the 20th session of the Standing Committee of the 13th National People's Congress (NPC). (Xinhua/Wang Shen)

	To commemorate its return to the motherland, Hongkongers are celebrating the historic occasion in a befitting manner today. The central government of China made the celebrations very special by passing the National Security Law for Hong Kong on June 30. Hongkongers have warmly welcomed and expressed unconditional support for the security law by singing patriotic songs and waving the national flag.

	Analysts are of the view that the law will help Hong Kong embrace a brighter future. Through enacting the long-overdue legislation, as required under Article 23 of the Basic Law, the long-awaited decolonization has finally been started in the former British colony. Though the global economic hub is an integral part of China, as a colonial legacy, Hong Kong retains its own currency, passport and immigration channels, and legal system.

	China has regained sovereignty over Hong Kong. The flag has changed, a tiny People's Liberation Army contingent has replaced its British counterpart, and the National People’s Congress has interpreted the local Basic Law a few times. But, thanks to 150 years of British colonialism, the educational and judicial systems, as well as the civil service and mass media in Hong Kong, are still dominated by those who subscribe to the viewpoints and values of the Western imperium. They never think of the welfare and development of Hongkongers, and would rather help their colonial masters perpetuate their dominance around the world.

	As a sign of respect for the autonomy guaranteed under 'one country, two systems', the central government of China has always stuck to its non-interference policy when it comes to the city’s local government work. But the local government has constantly failed to undertake any initiative to decolonize Hong Kong in the face of riots, sabotage, violence, anarchy, and vandalism caused by the agents, pawns, and proteges of the Western imperium, especially the United States (US).

	Ironically, they do everything in the name of protecting autonomy, human rights, freedoms, and democracy. These agents love to be called 'democratic forces'. These so-called democrats are always seeking excuses to wreak havoc and destabilize this global economic hub. If we look back at the past, we can see that they created anarchy and sabotage every year under the cover of democratic movements.

	The pawns of the US broke their all-time records of violence and vandalism in their opposition to the anti-extradition bill last year. The world witnessed how valuable assets were burnt, police being assaulted every day and the national emblem and flag of China being insulted. Ironically, this sabotage took place under the pretext of peaceful demonstrations.

	The violent demonstrators made it crystal clear that they did everything under the auspices of the so-called savior of democracy, the US, as they were seen carrying the US flag in different parts of the city during the demonstrations. Though the US has no right to meddle in the internal affairs of any country in the world, it has reportedly long been instigating violence brazenly in Hong Kong.

	In an act of sheer interference in the domestic affairs of a sovereign country, the US enacted the so-called Hong Kong Human Rights and Democracy Act of 2019 last November. The US Senate also passed the so-called Hong Kong Autonomy Act on June 25. The act was designed to obstruct China's national security legislation for the Hong Kong Special Administrative Region by imposing sanctions.

	To my eyes, making any kind of analysis of the US legislation is unnecessary, as the wording and content of the law made it clear that the US has directly attacked the sovereign power of China by breaching all international laws, regulations, agreements, and conventions including the charter of the United Nations.

	Finally, I would like to conclude that the national security legislation will bring about a brighter future for Hongkongers, as it will effectively make the city stable and peaceful by foiling all the conspiracies and attempts to destabilize it from the US and its local proteges. Thanks to the security law, which will only target acts such as secession, subversion, terrorist activities, and collusion with a foreign country or external elements to endanger national security, and fix the loopholes in the judiciary, the world will be able to see a more prosperous Hong Kong in the coming years.

The opinions expressed in this article belong solely to the author, and not necessarily to People's Daily Online.

The author is the China Correspondent of the Bangladesh Post.

In [13]:
len(bodies)

37

Confirmed that's the bottom.

**Clean | Send to DataFrame**<a id='2.5_review'></a>

First the date from string to a datetime object.

In [14]:
for date in soup.find_all('div',{'class':'wb_1 clear'}):
    print(date.text.strip())

By Md Enamul Hassan (People's Daily Online)    16:02, July 02, 2020

In [15]:
date = str(date)

In [16]:
date = remove_tags(date)
date

"By Md\xa0Enamul\xa0Hassan (People's Daily Online)\xa0\xa0\xa0\xa016:02, July 02, 2020"

In [17]:
len(date)

67

In [18]:
day_pub = date[54:67]
day_pub

'July 02, 2020'

In [19]:
#Replacing commas
day_pub = re.sub(',','',day_pub)
#Replacing the spaces
day_pub = re.sub(' ','-',day_pub)
#Replacing words to bring to datetimeformat
day_pub = re.sub('July','07',day_pub)
#Converting to dattime format
day_pub = datetime.strptime(day_pub, '%m-%d-%Y').date()

day_pub

datetime.date(2020, 7, 2)

In [20]:
df_date = pd.DataFrame([day_pub])

In [21]:
type(df_date)

pandas.core.frame.DataFrame

In [22]:
df_date

            0
0  2020-07-02

Now the title.

In [23]:
for title in soup.find_all('span',{'id','p_title'}):
    print(title.get_text.strip())

In [24]:
title

In [25]:
title = remove_tags(str(title))

In [26]:
title

'National Security Law paves the way for more prosperous Hong Kong'

In [27]:
df_title = pd.DataFrame([title])

In [28]:
df_title

                                                   0
0  National Security Law paves the way for more p...

In [29]:
type(df_title)

pandas.core.frame.DataFrame

These items are manually added.

In [30]:
country = 'China'
df_country = pd.DataFrame([country])
source = 'People\'s Daily'
df_source = pd.DataFrame([source])
file_name = 'peoples_daily_4'
df_file_name = pd.DataFrame([file_name])

Finally, the news.

In [31]:
news1 = []
for bodies in soup.find_all('div',{'class','wb_12 wb_12b clear'}):
    news1.append(bodies.text.strip())

In [32]:
df_news = pd.DataFrame()

In [33]:
df_news['article_body'] = news1

In [34]:
df_news.head(2)

                                        article_body
0  Hong Kong, the popular Asian city, returned to...

In [35]:
df_news['article_body'] = df_news.article_body.str.cat(sep=' ')

In [36]:
df_news = df_news.article_body[0]

In [37]:
df_news = df_news.replace(r'\\?','')

In [38]:
df_news = pd.DataFrame([df_news])

In [39]:
type(df_news)

pandas.core.frame.DataFrame

In [40]:
df_news.columns = ['Article']

In [41]:
df_news.head()

                                             Article
0  Hong Kong, the popular Asian city, returned to...

**Bringing it together.**<a id='2.5_bit'></a>

In [42]:
df_4_peoples_daily = pd.concat([df_file_name,df_date,df_source,df_country,df_title,df_news],axis = 1, ignore_index=False)

In [43]:
df_4_peoples_daily.columns = ['file_name','date','source','country','title','article']

In [44]:
df_4_peoples_daily.head()

,file_name,date,source,country,title,article
0,peoples_daily_4,2020-07-02,People's Daily,China,National Security Law paves the way for more p...,"Hong Kong, the popular Asian city, returned to..."

**Saving**<a id='2.6_save'></a>

In [45]:
cd

C:\Users\rands

Saving it to Excel.

In [46]:
# df = pd.DataFrame(reviewlist)

# index=False below so that we don't get the dataframe index on the side; we just use the excel index
df_4_peoples_daily.to_csv('./_Capstone_Two_NLP/data/_news/peoples_daily_4.csv', index=False)

print('Complete')

Complete