# Scraping HK police arrest over 300 from NY Post

## 2.1 Contents<a id='2.1_Contents'></a>
* [2.1 Importing Relevant Tools](#2.1_Importing)
* [2.2 Defining the Request](#2.2_URL)
* [2.3 Grab | Date](#2.4_scrape_date)
* [2.4 Grab | Header](#2.4_scrape_header)
* [2.5 Grab | Content](#2.4_scrape_content)
* [2.6 Clean | Send to DataFrame](#2.5_review)
* [2.7 Save](#2.6_save)

**Importing Relevant Tools**<a id='2.1_Importing'></a>

In [114]:
import json
import pandas as pd
from bs4 import BeautifulSoup as soup
import requests
import csv
import re
import pickle

%reload_ext watermark

In [115]:
#the below needs to be reviewed for all websites; notably the time format

from datetime import date
from datetime import datetime
today = date.today()
d = today.strftime("%m-%d-%y")

For reference.

In [116]:
%watermark -d -t -v -p pandas

Python implementation: CPython
Python version       : 3.8.5
IPython version      : 7.19.0

pandas: 1.1.3

**Defining the Request**<a id='2.2_URL'></a>

In [117]:
url = 'https://nypost.com/2020/07/01/hong-kong-police-arrest-nearly-200-in-first-protest-under-new-security-law/'.format(d)
url

'https://nypost.com/2020/07/01/hong-kong-police-arrest-nearly-200-in-first-protest-under-new-security-law/'

In [118]:
html = requests.get(url)

In [ ]:
bsobj = soup(html.content,'lxml')
# bsobj

**Grab | Date**<a id='2.4_scrape_date'></a>

In [133]:
for date in bsobj.findAll('p',{'class':'byline-date'}):
    print(date.text.strip())

July 1, 2020 | 9:26am				| Updated July 1, 2020 | 1:03pm

Lot's of cleaning to do.

**Grab | Header**<a id='2.4_scrape_header'></a>

In [11]:
for title in bsobj.findAll("h1"):
    print(format(title.text))

				Hong Kong police arrest over 300 in first protest under new security law

Looks like some `\n\` & `\t`'s to remove.

**Grab | Content**<a id='2.4_scrape_content'></a>

In [29]:
for news in bsobj.findAll('div',{'class':'entry-content entry-content-read-more'}):
    print(news.text.strip())

Hong Kong police arrested more than 300 people Wednesday as thousands of defiant demonstrators gathered in Hong Kong to protest Beijing’s new national security law — while the UK offered a new path to citizenship for almost 3 million eligible residents of its former colony.
Hong Kong police fired water cannon and tear gas as protesters took to the streets to vent against the sweeping security legislation introduced by China that they say is aimed at stifling dissent.
In Causeway Bay, the retail center of the island territory, cops raised a flag warning crowds they were violating the new law, but pro-Democracy demonstrators still gathered, resulting in hundreds of arrests by nightfall.
Protesters remained undaunted.
“We are on street to [protest] against national security law. We shall never surrender. Now is not the time to give up,” tweeted Joshua Wong, a Hong Kong activist with more than 600,000 followers on Twitter.’
Reuters
On the first full day the tough new law was in place, Hong Kong Chief Executive Carrie Lam admitted the civil unrest that had rocked the city for months last year was sparked by past failures, but claimed that the national security law showed “Beijing’s confidence” in the city, the South China Morning Post reported.
Meanwhile, British Prime Minister Boris Johnson announced the path to citizenship because, he said, Hong Kong residents’ freedoms were being erased by the new law.
“It violates Hong Kong’s high degree of autonomy and threatens the freedoms and rights protected by the joint declaration,” Johnson said, the BBC reported.
“We made clear that if China continued down this path we would introduce a new route for those with British National [Overseas] status to enter the UK, granting them limited leave to remain with the ability to live and work in the UK and thereafter to apply for citizenship. And that is precisely what we will do now.”
Riot police stop and search people.Reuters
About 350,000 UK passport holders, and 2.6 million others who are eligible, will be able to come to the UK for five years, and after a further year, they can apply for citizenship.
British National Overseas Passport holders in Hong Kong were granted special status in the 1980s but until now had restricted rights and were only entitled to visa-free access to the UK for six months.
Johnson also said Tuesday’s passing of the law was a “clear and serious breach” of the 1985 Sino-British joint declaration — which set out how certain freedoms would be protected for the 50 years after China assumed control of the colony in 1997, the news service reported.
Hong Kong’s autonomy was guaranteed under the “one country, two systems” agreement enshrined in the Sino-British Joint Declaration signed by then Chinese Premier Zhao Ziyang and British Prime Minister Margaret Thatcher.
Foreign Secretary Dominic Raab said Britain had carefully assessed China’s national security legislation since it was published late on Tuesday.
“It constitutes a clear violation of the autonomy of Hong Kong, and a direct threat to the freedoms of its people, and therefore I’m afraid to say it is a clear and serious violation of the Joint Declaration treaty between the United Kingdom and China,” Raab told Reuters and the BBC.
Authorities in Beijing and Hong Kong have repeatedly said the legislation is aimed at a few “troublemakers” and will not affect rights and freedoms, nor investor interests.
“China, through this national security legislation, is not living up to its promises to the people of Hong Kong,” Raab said. “We will live up to our promises.”
Asked about how the West should deal with Chinese President Xi Jinping, Raab said the international community needed to act.
Riot police fire tear gas into the crowds to disperse anti-national security law protesters.Reuters
“Obviously, China is a leading member of the international community. And it is precisely because of that, that we expect it to live up to its international obligations and its international responsibilities. For trust in China’s ability to do that, today has been a big step backwards.”
In response to the crackdown, the US said it would no longer deliver certain weapons to Hong Kong for fear they would fall into the hands of the mainland’s Communist government.
The US also imposed visa restrictions on Communist Party officials involved in the crackdown.
With Reuters

Confirmed that's the bottom; just need to remove the author.

**Clean | Send to DataFrame**<a id='2.5_review'></a>

First the date from string to a datetime object.

In [147]:
for date in bsobj.findAll('p',{'class':'byline-date'}):
    day_pub = date.text.strip()
day_pub

'July 1, 2020 | 9:26am\t\t\t\t| Updated July 1, 2020 | 1:03pm'

In [148]:
day_pub = re.sub('|','',day_pub)

day_pub

'July 1, 2020 | 9:26am\t\t\t\t| Updated July 1, 2020 | 1:03pm'

In [145]:
# day_pub = re.sub(' | 9:26am				| Updated July 1, 2020 | 1:03pm','',day_pub)
# day_pub = re.sub('Updated June 30, 2020','',day_pub)
# day_pub = re.sub(',','',day_pub)
# day_pub = re.sub('June','06',day_pub)
# day_pub = re.sub(' ','-',day_pub)
# day_pub = datetime.strptime(day_pub, '%m-%d-%Y').date()
# day_pub

In [17]:
df_date = pd.DataFrame([day_pub])

In [18]:
type(df_date)

pandas.core.frame.DataFrame

In [19]:
df_date

            0
0  2020-06-28

Now the title.

In [30]:
for title_s in bsobj.findAll("h1"):
    title_list = format(title_s.text)

In [31]:
title_list = re.sub('\n\t\t\t\t','',title_list)
title_list = re.sub('\t\t\t','',title_list)

In [32]:
title_list

'Hong Kong police arrest over 300 in first protest under new security law'

In [33]:
df_title = pd.DataFrame([title_list])

In [34]:
df_title

                                                   0
0  Hong Kong police arrest over 300 in first prot...

In [35]:
type(df_title)

pandas.core.frame.DataFrame

These two items are manually added.

In [36]:
country = 'US'
df_country = pd.DataFrame([country])
source = 'NY Post'
df_source = pd.DataFrame([source])

Finally, the news.

In [91]:
news1 = []
for news in bsobj.findAll('div',{'class':'entry-content entry-content-read-more'}):
    news1.append(news.text.strip())

In [92]:
news1

['Hong Kong police arrested more than 300 people Wednesday as thousands of defiant demonstrators gathered in Hong Kong to protest Beijing’s new national security law — while the UK offered a new path to citizenship for almost 3 million eligible residents of its former colony.\nHong Kong police fired water cannon and tear gas as protesters took to the streets to vent against the sweeping security legislation introduced by China that they say is aimed at stifling dissent.\nIn Causeway Bay, the retail center of the island territory, cops raised a flag warning crowds they were violating the new law, but pro-Democracy demonstrators still gathered, resulting in hundreds of arrests by nightfall.\nProtesters remained undaunted.\n“We are on street to [protest] against national security law. We shall never surrender. Now is not the time to give up,” tweeted Joshua Wong, a Hong Kong activist with more than 600,000 followers on Twitter.’\nReuters\nOn the first full day the tough new law was in place, Hong Kong Chief Executive Carrie Lam admitted the civil unrest that had rocked the city for months last year was sparked by past failures, but claimed that the national security law showed “Beijing’s confidence” in the city, the South China Morning Post reported.\nMeanwhile, British Prime Minister Boris Johnson announced the path to citizenship because, he said, Hong Kong residents’ freedoms were being erased by the new law.\n“It violates Hong Kong’s high degree of autonomy and threatens the freedoms and rights protected by the joint declaration,” Johnson said, the BBC reported.\n“We made clear that if China continued down this path we would introduce a new route for those with British National [Overseas] status to enter the UK, granting them limited leave to remain with the ability to live and work in the UK and thereafter to apply for citizenship. And that is precisely what we will do now.”\nRiot police stop and search people.Reuters\nAbout 350,000 UK passport holders, and 2.6 million others who are eligible, will be able to come to the UK for five years, and after a further year, they can apply for citizenship.\nBritish National Overseas Passport holders in Hong Kong were granted special status in the 1980s but until now had restricted rights and were only entitled to visa-free access to the UK for six months.\nJohnson also said Tuesday’s passing of the law was a “clear and serious breach” of the 1985 Sino-British joint declaration — which set out how certain freedoms would be protected for the 50 years after China assumed control of the colony in 1997, the news service reported.\nHong Kong’s autonomy was guaranteed under the “one country, two systems” agreement enshrined in the Sino-British Joint Declaration signed by then Chinese Premier Zhao Ziyang and British Prime Minister Margaret Thatcher.\nForeign Secretary Dominic Raab said Britain had carefully assessed China’s national security legislation since it was published late on Tuesday.\n“It constitutes a clear violation of the autonomy of Hong Kong, and a direct threat to the freedoms of its people, and therefore I’m afraid to say it is a clear and serious violation of the Joint Declaration treaty between the United Kingdom and China,” Raab told Reuters and the BBC.\nAuthorities in Beijing and Hong Kong have repeatedly said the legislation is aimed at a few “troublemakers” and will not affect rights and freedoms, nor investor interests.\n“China, through this national security legislation, is not living up to its promises to the people of Hong Kong,” Raab said. “We will live up to our promises.”\nAsked about how the West should deal with Chinese President Xi Jinping, Raab said the international community needed to act.\nRiot police fire tear gas into the crowds to disperse anti-national security law protesters.Reuters\n“Obviously, China is a leading member of the international community. And it is precisely because of that, that we expect it to live up to its international obligations and its international responsibilities. For trust in China’s ability to do that, today has been a big step backwards.”\nIn response to the crackdown, the US said it would no longer deliver certain weapons to Hong Kong for fear they would fall into the hands of the mainland’s Communist government.\nThe US also imposed visa restrictions on Communist Party officials involved in the crackdown.\nWith Reuters']

In [93]:
news1 = str(news1)

In [94]:
news1 = re.sub('With Reuters','',news1)

In [95]:
news1

"['Hong Kong police arrested more than 300 people Wednesday as thousands of defiant demonstrators gathered in Hong Kong to protest Beijing’s new national security law — while the UK offered a new path to citizenship for almost 3 million eligible residents of its former colony.\\nHong Kong police fired water cannon and tear gas as protesters took to the streets to vent against the sweeping security legislation introduced by China that they say is aimed at stifling dissent.\\nIn Causeway Bay, the retail center of the island territory, cops raised a flag warning crowds they were violating the new law, but pro-Democracy demonstrators still gathered, resulting in hundreds of arrests by nightfall.\\nProtesters remained undaunted.\\n“We are on street to [protest] against national security law. We shall never surrender. Now is not the time to give up,” tweeted Joshua Wong, a Hong Kong activist with more than 600,000 followers on Twitter.’\\nReuters\\nOn the first full day the tough new law was in place, Hong Kong Chief Executive Carrie Lam admitted the civil unrest that had rocked the city for months last year was sparked by past failures, but claimed that the national security law showed “Beijing’s confidence” in the city, the South China Morning Post reported.\\nMeanwhile, British Prime Minister Boris Johnson announced the path to citizenship because, he said, Hong Kong residents’ freedoms were being erased by the new law.\\n“It violates Hong Kong’s high degree of autonomy and threatens the freedoms and rights protected by the joint declaration,” Johnson said, the BBC reported.\\n“We made clear that if China continued down this path we would introduce a new route for those with British National [Overseas] status to enter the UK, granting them limited leave to remain with the ability to live and work in the UK and thereafter to apply for citizenship. And that is precisely what we will do now.”\\nRiot police stop and search people.Reuters\\nAbout 350,000 UK passport holders, and 2.6 million others who are eligible, will be able to come to the UK for five years, and after a further year, they can apply for citizenship.\\nBritish National Overseas Passport holders in Hong Kong were granted special status in the 1980s but until now had restricted rights and were only entitled to visa-free access to the UK for six months.\\nJohnson also said Tuesday’s passing of the law was a “clear and serious breach” of the 1985 Sino-British joint declaration — which set out how certain freedoms would be protected for the 50 years after China assumed control of the colony in 1997, the news service reported.\\nHong Kong’s autonomy was guaranteed under the “one country, two systems” agreement enshrined in the Sino-British Joint Declaration signed by then Chinese Premier Zhao Ziyang and British Prime Minister Margaret Thatcher.\\nForeign Secretary Dominic Raab said Britain had carefully assessed China’s national security legislation since it was published late on Tuesday.\\n“It constitutes a clear violation of the autonomy of Hong Kong, and a direct threat to the freedoms of its people, and therefore I’m afraid to say it is a clear and serious violation of the Joint Declaration treaty between the United Kingdom and China,” Raab told Reuters and the BBC.\\nAuthorities in Beijing and Hong Kong have repeatedly said the legislation is aimed at a few “troublemakers” and will not affect rights and freedoms, nor investor interests.\\n“China, through this national security legislation, is not living up to its promises to the people of Hong Kong,” Raab said. “We will live up to our promises.”\\nAsked about how the West should deal with Chinese President Xi Jinping, Raab said the international community needed to act.\\nRiot police fire tear gas into the crowds to disperse anti-national security law protesters.Reuters\\n“Obviously, China is a leading member of the international community. And it is precisely because of that, that we expect it to live up to its international obligations and its international responsibilities. For trust in China’s ability to do that, today has been a big step backwards.”\\nIn response to the crackdown, the US said it would no longer deliver certain weapons to Hong Kong for fear they would fall into the hands of the mainland’s Communist government.\\nThe US also imposed visa restrictions on Communist Party officials involved in the crackdown.\\n']"

In [96]:
df_news = pd.DataFrame([news1])

In [97]:
df_news.head(2)

                                                   0
0  ['Hong Kong police arrested more than 300 peop...

In [101]:
# df_news['article_body'] = df_news.article_body.str.cat(sep='')

In [103]:
# df_news = df_news.article_body[0]

In [104]:
df_news = df_news.replace(r'\\?','')

In [107]:
# df_news = pd.DataFrame([df_news])

In [108]:
type(df_news)

pandas.core.frame.DataFrame

In [109]:
df_news.columns = ['Article']

In [110]:
df_news.head()

                                             Article
0  ['Hong Kong police arrested more than 300 peop...

**Bringing it together.**<a id='2.5_bit'></a>

In [112]:
df_5_nytimes = pd.concat([df_date,df_source,df_country,df_title,df_news],axis = 1, ignore_index=False)

In [76]:
df_5_nytimes.columns = ['date','source','country','title','article']

In [77]:
df_5_nytimes.head()

,date,source,country,title,article
0,2020-06-28,NY Times,US,What China’s New National Security Law Means f...,Chinese lawmakers have approved a national sec...

**Saving**<a id='2.6_save'></a>

In [74]:
cd

C:\Users\rands

Saving it to Excel.

In [78]:
# df = pd.DataFrame(reviewlist)

# index=False below so that we don't get the dataframe index on the side; we just use the excel index
df_5_nytimes.to_excel('./_Capstone_Two_NLP/data/_news/nytimes_5.xlsx', index=False)

print('Complete')

Complete