# Data Wrangling | News ( HK NLP Project ) Tfidf & CountVectorizer

In this section we will complete the Data Wrangling of the Tweets with TfidfVectorizer & CountVectorizer & setup two (2) dataframes; one for each.

# Imports

In [34]:
# Main Imports
import os
import sys
import statistics
from scipy.stats import skew
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
from pandas import DataFrame
import matplotlib.pyplot as plt
import matplotlib.colors as colors
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
from matplotlib.pyplot import figure
%matplotlib inline
import datetime
import time

# NLP Imports
import re
import string
import requests
import urllib.request
import pickle
from nltk import sent_tokenize, word_tokenize

from nltk.tokenize.casual import TweetTokenizer
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
#from gensim.corpora.dictionary import Dictionary
#from gensim.models.tfidfmodel import TfidfModel
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

from collections import Counter

We will import the Dataframe to work with here.

In [ ]:
%cd

/root

In [35]:
df = pd.read_excel('./df_main.xlsx')
df = df.reset_index()
df = df.drop(columns=['Unnamed: 0','index'])

In [36]:
df.head(3)

,hash,created_at,username,tweet,replies_count,retweets_count,likes_count,reply_to,hashtags,comp,neg,neu,pos,tweet_stemmed,tweet_lemmatized,#_words_tweet,#_hashtags
0,#FightForHongKong,2020-08-28,ginny81025554,Thanks speaking us #fridaysforfreedom #fightfo...,0,1,2,"[{'screen_name': 'benedictrogers', 'name': 'Be...","['fridaysforfreedom', 'fightforhongkong']",0.4404,0.000,0.707,0.293,"['thank', 'speak', 'us', 'fridaysforfreedom', ...","['Thanks', 'speaking', 'u', '#fridaysforfreedo...",5,2
1,#FightForHongKong,2020-08-25,peterhjorth_ddp,How stop China Hong Kong. Read new report Dani...,0,0,0,[],"['dkpol', 'kina', 'hongkongprotest', 'fightfor...",-0.2960,0.071,0.929,0.000,"['stop', 'china', 'hong', 'kong', 'read', 'new...","['How', 'stop', 'China', 'Hong', 'Kong.', 'Rea...",25,13
2,#FightForHongKong,2020-08-24,peterhjorth_ddp,How stop China Hong Kong. Read new report Dani...,0,0,0,[],"['dkpol', 'kina', 'hongkongprotest', 'fightfor...",-0.2960,0.071,0.929,0.000,"['stop', 'china', 'hong', 'kong', 'read', 'new...","['How', 'stop', 'China', 'Hong', 'Kong.', 'Rea...",25,13

# TfidfVectorizer

**TfidfVectorizer** | With the help of the "scikit-learn family", Term Frequency Inverse Document Frequency; a common algorithm to transform text into a meaningful representation of numbers which we can use to fit machine algorithms for prediction.

In [39]:
def create_document_term_matrix(tweet_list,vectorizer):
    doc_term_matrix = vectorizer.fit_transform(tweet_list)
    return DataFrame(doc_term_matrix.toarray(),
                    columns=vectorizer.get_feature_names())

#initiate the TfidfVectorizer
tfidf_vec = TfidfVectorizer(min_df=0.005, max_df=0.995)

In [40]:
df_tfidf = []
df_tfidf = pd.DataFrame(df['tweet'])
df_tfidf_series = df_tfidf.squeeze()
# will need to convert all rows to string object & then remove integers
df_tfidf_series = [str (item) for item in df_tfidf_series]
df_tfidf_series = [item for item in df_tfidf_series if not isinstance(item, int)]
df_tfidf_df = pd.DataFrame(create_document_term_matrix(df_tfidf_series,tfidf_vec))

In [41]:
df_tfidf_df.head(2)

,12,2019,2020,5demandsnot1less,_hk,_hker,_us,_watch,_with_hk,act,...,world,would,xijinping,year,years,yes,yet,you,young,your
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
df_tfidf_df = pd.DataFrame([])
df_tfidf_df = pd.concat([df, df_tfidf_df], axis=1)
df_tfidf_df.head(1)

,hash,created_at,username,tweet,replies_count,retweets_count,likes_count,reply_to,hashtags,comp,neg,neu,pos,tweet_stemmed,tweet_lemmatized,#_words_tweet,#_hashtags
0,#FightForHongKong,2020-08-28,ginny81025554,Thanks speaking us #fridaysforfreedom #fightfo...,0,1,2,"[{'screen_name': 'benedictrogers', 'name': 'Be...","['fridaysforfreedom', 'fightforhongkong']",0.4404,0.0,0.707,0.293,"['thank', 'speak', 'us', 'fridaysforfreedom', ...","['Thanks', 'speaking', 'u', '#fridaysforfreedo...",5,2

In [43]:
df_tfidf_df.head(3)

,hash,created_at,username,tweet,replies_count,retweets_count,likes_count,reply_to,hashtags,comp,neg,neu,pos,tweet_stemmed,tweet_lemmatized,#_words_tweet,#_hashtags
0,#FightForHongKong,2020-08-28,ginny81025554,Thanks speaking us #fridaysforfreedom #fightfo...,0,1,2,"[{'screen_name': 'benedictrogers', 'name': 'Be...","['fridaysforfreedom', 'fightforhongkong']",0.4404,0.000,0.707,0.293,"['thank', 'speak', 'us', 'fridaysforfreedom', ...","['Thanks', 'speaking', 'u', '#fridaysforfreedo...",5,2
1,#FightForHongKong,2020-08-25,peterhjorth_ddp,How stop China Hong Kong. Read new report Dani...,0,0,0,[],"['dkpol', 'kina', 'hongkongprotest', 'fightfor...",-0.2960,0.071,0.929,0.000,"['stop', 'china', 'hong', 'kong', 'read', 'new...","['How', 'stop', 'China', 'Hong', 'Kong.', 'Rea...",25,13
2,#FightForHongKong,2020-08-24,peterhjorth_ddp,How stop China Hong Kong. Read new report Dani...,0,0,0,[],"['dkpol', 'kina', 'hongkongprotest', 'fightfor...",-0.2960,0.071,0.929,0.000,"['stop', 'china', 'hong', 'kong', 'read', 'new...","['How', 'stop', 'China', 'Hong', 'Kong.', 'Rea...",25,13

**Setting it aside** | We will now move it to it's own data frame.

In [ ]:
%cd twitter/

/root/twitter

In [44]:
df_tfidf_df.to_excel('./df_tweets_tfidf.xlsx')
print('Finished')

Finished

# CountVectorizer

**CountVectorizer** | With the "scikit-learn family", the CountVectorizer is used to transform a given text into a vector on the basis of the frequency (count) of each word that occurs in the entire text.

In [12]:
# Re-establishing it
count = CountVectorizer()

In [13]:
df.head(1)

,hash,created_at,username,tweet,replies_count,retweets_count,likes_count,reply_to,hashtags,comp,neg,neu,pos,tweet_stemmed,tweet_lemmatized,#_words_tweet,#_hashtags
0,#FightForHongKong,2020-08-28,ginny81025554,Thanks speaking us #fridaysforfreedom #fightfo...,0,1,2,"[{'screen_name': 'benedictrogers', 'name': 'Be...","['fridaysforfreedom', 'fightforhongkong']",0.4404,0.0,0.707,0.293,"['thank', 'speak', 'us', 'fridaysforfreedom', ...","['Thanks', 'speaking', 'u', '#fridaysforfreedo...",5,2

In [21]:
# Making a copy, turning it into an array & confirming based on the first 3
df_cvec_temp = pd.DataFrame(df['tweet'].str.lower().copy())
df_cvec_temp = df_cvec_temp.values
df_cvec_temp

array([['thanks speaking us #fridaysforfreedom #fightforhongkong'],
       ['how stop china hong kong. read new report danish think tank cipo. #dkpol #kina #hongkongprotest #fightforhongkong #prayforhongkong #nochinaextradition #hongkongprotest #hongkong #standwithhongkong #hkpolice #fivedemands #noextraditiontochina #hongkongers'],
       ['how stop china hong kong. read new report danish think tank cipo. #dkpol #kina #hongkongprotest #fightforhongkong #prayforhongkong #wearenotalone #hongkongprotest #hongkong #standwithhongkong #hkpolice #fivedemands #noextraditiontochina #hongkongers'],
       ...,
       ["don't fall trap! #hkpoliceterrorism #hongkongpolicestate #genocide #hongkong #prayforamerica folded_hands red_heart ğŸ‡ºğŸ‡¸"],
       ['the hk police killed south asian force. the hk police called "appropriate force " #policebrutality #hkpoliceterrorism'],
       ['china try hard link #minnesotariots #hongkongprotests with reasons. net army pretending hk democracy supporters 2 support #minniapolisriots justify #hkpoliceterrorism n #natseclaw hk _k']],
      dtype=object)

In [20]:
df['tweet']

0         Thanks speaking us #fridaysforfreedom #fightfo...
1         How stop China Hong Kong. Read new report Dani...
2         How stop China Hong Kong. Read new report Dani...
3         War communism? #HongKongProtest #FightForHongK...
4         How stop China Hong Kong. Read new report Dani...
                                ...
163694    Some evidences, please share let ppl know abt ...
163695          also stand Hongkongers ? #HKPoliceTerrorism
163696    Don't fall trap! #HKPoliceTerrorism #HongKongP...
163697    The HK police killed South Asian force. The HK...
163698    China try hard link #Minnesotariots #HongKongP...
Name: tweet, Length: 163699, dtype: object

In [24]:
# Create the bag of words feature matrix
df_cvec_temp = [str (item) for item in df_cvec_temp]
df_cvec_temp = [item for item in df_cvec_temp if not isinstance(item, int)]
bow_tweet = count.fit_transform(df_cvec_temp)

In [25]:
# Show feature matrix
bow_tweet.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [26]:
# Get feature names
feature_names = count.get_feature_names()

When we do a check on the data frame after we send it there, we never see the middle portion, so we will check the Top ~5 & Bottom ~5 of the array for reference.

In [27]:
# Top 5 feature names
feature_names[:5]

['00', '000', '0004', '0007', '0008']

In [28]:
# Bottom 5 feature names
feature_names[-6:]

['ğšœğšğš™ğš™ğš˜ğš›ğš', 'ğšğš‘ğš', 'ğšğš’ğš–ğš', 'ğšğš›ğšğšœğš', 'ğšğšœ', 'ğš¢ğš˜ğšğš›']

In [29]:
df_cvec = pd.DataFrame(bow_tweet.toarray(), columns=feature_names)
df_cvec.head(3)

,00,000,0004,0007,0008,000hkd,000s,000th,001,0015,...,ğš•ğš˜ğš—ğš,ğš—ğšğšğš,ğš™ğš•ğšğšŠğšœğš,ğš™ğš˜ğš•ğš’ğšŒğš,ğšœğšğš™ğš™ğš˜ğš›ğš,ğšğš‘ğš,ğšğš’ğš–ğš,ğšğš›ğšğšœğš,ğšğšœ,ğš¢ğš˜ğšğš›
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df_cvec = pd.concat([df, df_cvec], axis=1)

In [31]:
df_cvec.head(2)

,hash,created_at,username,tweet,replies_count,retweets_count,likes_count,reply_to,hashtags,comp,...,ğš•ğš˜ğš—ğš,ğš—ğšğšğš,ğš™ğš•ğšğšŠğšœğš,ğš™ğš˜ğš•ğš’ğšŒğš,ğšœğšğš™ğš™ğš˜ğš›ğš,ğšğš‘ğš,ğšğš’ğš–ğš,ğšğš›ğšğšœğš,ğšğšœ,ğš¢ğš˜ğšğš›
0,#FightForHongKong,2020-08-28,ginny81025554,Thanks speaking us #fridaysforfreedom #fightfo...,0,1,2,"[{'screen_name': 'benedictrogers', 'name': 'Be...","['fridaysforfreedom', 'fightforhongkong']",0.4404,...,0,0,0,0,0,0,0,0,0,0
1,#FightForHongKong,2020-08-25,peterhjorth_ddp,How stop China Hong Kong. Read new report Dani...,0,0,0,[],"['dkpol', 'kina', 'hongkongprotest', 'fightfor...",-0.2960,...,0,0,0,0,0,0,0,0,0,0

**Putting the Tweet with CountVec Data to the Side** | Potential review on the side if applicable.

In [ ]:
%cd twitter/

/root/twitter

In [33]:
df_cvec.to_csv('./df_tweets_cvec.csv')
print('Finished')

Finished

# Summary

We will now upload these into the Twitter Exploratory Data Analysis (EDA) Data Frame to continue our journey.