# Scraping UK bluffs from Global Times

## 2.1 Contents<a id='2.1_Contents'></a>
* [2.1 Importing Relevant Tools](#2.1_Importing)
* [2.2 Defining the Request](#2.2_URL)
* [2.3 Grab | Date](#2.4_scrape_date)
* [2.4 Grab | Header](#2.4_scrape_header)
* [2.5 Grab | Content](#2.4_scrape_content)
* [2.6 Clean | Send to DataFrame](#2.5_review)
* [2.7 Save](#2.6_save)

**Importing Relevant Tools**<a id='2.1_Importing'></a>

In [1]:
import json
import pandas as pd
from bs4 import BeautifulSoup as soup
import requests
import csv
import re
import pickle

%reload_ext watermark

In [2]:
#the below needs to be reviewed for all websites; notably the time format

from datetime import date
from datetime import datetime
today = date.today()
d = today.strftime("%m-%d-%y")

For reference.

In [3]:
%watermark -d -t -v -p pandas

Python implementation: CPython
Python version       : 3.8.5
IPython version      : 7.19.0

pandas: 1.1.3

**Defining the Request**<a id='2.2_URL'></a>

In [5]:
url = 'https://www.globaltimes.cn/content/1193696.shtml'.format(d)
url

'https://www.globaltimes.cn/content/1193696.shtml'

In [6]:
html = requests.get(url)

In [9]:
bsobj = soup(html.content,'lxml')
# bsobj

**Grab | Date**<a id='2.4_scrape_date'></a>

In [13]:
for date in bsobj.find('div',{'class':'span8 text-left'}):
    print(date.strip())

By Yang Sheng and Shen Weiduo Source:Global Times Published: 2020/7/6 22:23:40

Needs a lot of work.

**Grab | Header**<a id='2.4_scrape_header'></a>

In [17]:
for title in bsobj.findAll('div',{'class':'row-fluid article-title'}):
    print(format(title.text))

 UK bluffs over Hong Kong

 London’s measures meaningless, ‘bluff rather than bite’

Two titles here but the second one helps explain the first one.

**Grab | Content**<a id='2.4_scrape_content'></a>

In [16]:
for title in bsobj.findAll('div',{'class':'span12 row-content'}):
    print(format(title.text))

A Huawei store stands next to a Globe Telecom booth in Makati City, the Philippines on April 14, 2019. Photo: cnsphotoThe UK, a country with massive untold interests in Hong Kong and wants to retain its colonial influence in the city as much as possible, is now acting tough against China's national security law for its Hong Kong Special Administrative Region (HKSAR). Chinese analysts said on Monday that the actions of the UK are more of a bluff since they can't harm China, but will only damage itself.The measures that the UK would take, including phasing out the use of Chinese firm's technology in its 5G network and offering up to 3 million Hong Kong residents the chance to settle in UK, will cost a huge amount of money and resources for the UK, rather than harm China, experts said.British Prime Minister Boris Johnson declared on Wednesday that China's new national security law in Hong Kong was a "clear and serious breach" of the 1984 Sino-British Joint Declaration. It was among the strongest statements he's made as UK prime minister on the matter, Bloomberg reported.Chinese Ambassador to the UK Liu Xiaoming said Monday at a press conference that China's national security legislation for the HKSAR has ensured Hong Kong's high degree of autonomy, and does not affect the capitalist system and judicial independence in Hong Kong.The law on safeguarding national security in HKSAR was enacted to safeguard the 'one country, two systems', Liu noted, adding that the law is fundamental to end chaos and restore order in Hong Kong.Liu responded to the UK's accusation that China broke its promise in the Sino-British Joint Declaration that, "the copyright of 'one country, two systems' belongs to Chinese former leader Deng Xiaoping, not the Sino-British Joint Declaration," and China has never failed to fulfill its international obligations.Cui Hongjian, the director of the Department of European Studies at the China Institute of International Studies, told the Global Times on Monday that the declaration is just a historical document that reflects the consensus of the two countries on Hong Kong at that time, and the Basic Law and the "one country, two systems" are China's domestic affairs rather than a promise to any other country.While the UK believes it has right and responsibility to "ensure" Hong Kong's autonomy, with other Western countries having similar opinions, the new national security law proves that their moves and words are useless and meaningless, Cui said.Observers noted that the UK has no power and right to comment or act on Hong Kong, and what it really cares is neither "democracy" nor "human rights," but its untold interests in HK autonomy. An expert on international intelligence and security who asked not to be named told the Global Times that "Hong Kong is an important financial hub and intelligence exchange center, and the UK has tried very hard to retain its inappropriate influence in its former colony, such as keeping engagements with Hong Kong politicians, funding and training proxies to influence the education sectors, as well as building connections with legal professionals.""The UK, as a crucial member of the Five Eyes Alliance, has used its influence in Hong Kong to collect intelligence about China and influence the city's politics to favor the West after 1997. But given excessive provocation against China led by the US since last year, China has decided not to tolerate their inappropriate influence anymore. So the Johnson administration will definitely feel the pain and will act echoing angry conservative politicians in Britain," he said.

The US has at least 20 laws on national security while the UK has at least 3. Why can't China have one to safeguard national security on its own territory? Illustration: GT 'Do me a favor' In response to China's national security law for Hong Kong, London has announced to offer about 350,000 BNO passport holders in Hong Kong, and 2.6 million others eligible, to come to the UK for five years. A year after that, they will be able to apply for citizenship, BBC reported.BNO Passport holders in Hong Kong were granted special status in the 1980s, but have limited rights, and are only entitled to visa-free access to the UK for six months. Under the UK government's new plans, all BNOs and their dependents will be given the right to remain in the UK, including the right to work and study, for five years. At this point, they will be able to apply for settled status, and after a further year, seek citizenship.Cui said this is more like a symbolic announcement, as most young protesters or rioters convicted during the turmoil are not eligible, unless London makes new policies to accept these protesters.On the BNO policy for Hong Kong made by the UK government, Liu said it is a "gross interference" in the internal affairs of China and violation of international norms.China will respond to Britain's offer of citizenship to BNO passport holders in Hong Kong once it sees details of the plan, Liu said."We hope that they will reconsider their position. With regard to China's response, we have to wait and see the specific actions of the UK," Liu noted.The anonymous expert noted that if these people leave Hong Kong, they can no longer make trouble in the city for their foreign masters. We won't let the criminals escape, but for ordinary people who love the UK more than China, London can do us a favor and send chartered airplanes to take them away." "But these people could become a problem and create economic pressure for the UK, as most of them are neither wealthy nor talented, but a bunch of law breakers, and British people who don't welcome immigrants will be very hostile to them," he added.

Photo taken on Nov. 20, 2019 shows Huawei's exhibition booth during a press preview for the 2019 World 5G Convention in Beijing, capital of China.(Xinhua/Li Xin)5G lossChinese tech giant Huawei has become a UK target to vent its "anger" at China.The Daily Telegraph reported on Saturday that the UK is expected to begin phasing out the use of Huawei technology in the country's 5G network as soon as this year, after Johnson said last week that he would protect critical British infrastructure from "hostile state vendors."  The newspaper said officials are drawing up proposals to stop installing new Huawei equipment in the country's 5G network in six months, and to speed up the removal of technology already in place.However, Chinese analysts said the UK's attitude toward Huawei shows London does not have many options, and the restrictions on Huawei amount to a "bluff than a bite." Cui said London's action against Huawei was caused by pressure from the US, but it was reluctant to do because it also benefited from cooperating with Huawei, and China's national security law for Hong Kong provided an excuse for 10 Downing Street to act.If the UK doesn't want Huawei but spends more money for other products with poor quality, "it's up to you," Liu said.If Huawei really has good products, then it should not worry about it, Liu said, adding that the world market is big enough to accommodate Huawei, and Huawei will survive and grow regardless of the discriminatory policies of   countries like the UK and the US.The UK decided in January to let Huawei continue its role in the country's 5G network, but with restrictions. The company was excluded from providing "core" 5G gear, despite pressure from the US to crack down on the Chinese firm.Analysts said the British government may "say one thing but do another," as the Johnson administration prioritizes economic interests over political power games.Bluff or bite?Huawei said in a statement it sent to the Global Times on Monday that it "remains open to discussions with the government," and is "finding ways with customers to manage the proposed US restrictions so the UK can maintain its lead in 5G." "All our world-leading products and solutions use technology and components over which the UK government has strict oversight. Our technology is already extensively used in 5G networks across the country, and has helped connect people throughout the lockdown," Victor Zhang, Huawei's vice president, said in the statement.The UK is actually aware that it's not a smart move to reverse its policy on Huawei, as the nation can't afford the consequences--from the industrial impact which could cost millions of dollars, to the harm done to China-UK ties, said Ma Jihua, a veteran industry analyst and close follower of Huawei.In late June, just days before the passage of the National Security Law for Hong Kong by Standing Committee of China's NPC - something markets widely anticipated - the UK government approved Huawei's plan to build a one billion pound ($1.24 billion) chip research and manufacturing facility in England.Ma added that China and Europe have long been conducting close cooperation in telecommunications so the two could establish their place in the industry, and the UK and other European countries should think twice before choosing to give up Europe's 5G lead due to US disruption.Cui noted that, fortunately, the UK is not an EU member anymore, so even if it totally excludes Huawei in its national 5G network construction, it won't affect Huawei's cooperation with Europe, which is a much bigger cake than Britain.
RELATED ARTICLES:  China hopes France can ‘independently make choices’ on Huawei’s 5G Huawei open to discussions after UK reportedly set to phase it out of 5G network

That's not the bottom; multiple news topics combined into one. Will need to see how to delete below.

**Clean | Send to DataFrame**<a id='2.5_review'></a>

First the date from string to a datetime object.

In [22]:
for day in bsobj.find('div',{'class':'span8 text-left'}):
    day_pub = day.strip()

In [23]:
day_pub

'By Yang Sheng and Shen Weiduo Source:Global Times Published: 2020/7/6 22:23:40'

In [25]:
#Replacing the first part
day_pub = re.sub('By Yang Sheng and Shen Weiduo Source:Global Times Published: ','',day_pub)
#Replacing the second part
day_pub = re.sub(' 22:23:40','',day_pub)
day_pub = re.sub('/','-',day_pub)
#Converting to dattime format
day_pub = datetime.strptime(day_pub, '%Y-%m-%d').date()
day_pub

datetime.date(2020, 7, 6)

In [26]:
df_date = pd.DataFrame([day_pub])

In [27]:
type(df_date)

pandas.core.frame.DataFrame

In [28]:
df_date

            0
0  2020-07-06

Now the title.

In [32]:
for title_s in bsobj.findAll('div',{'class':'row-fluid article-title'}):
    title_list = format(title_s.text)
title_list

' London’s measures meaningless, ‘bluff rather than bite’ '

That's the second part but fully encapsulates the story so we will work with it.

In [33]:
title_list = re.sub(' London’s measures meaningless, ‘bluff rather than bite’ ','London’s measures meaningless, ‘bluff rather than bite’',title_list)
title_list

'London’s measures meaningless, ‘bluff rather than bite’'

In [34]:
df_title = pd.DataFrame([title_list])

In [35]:
df_title

                                                   0
0  London’s measures meaningless, ‘bluff rather t...

In [36]:
type(df_title)

pandas.core.frame.DataFrame

These items are manually added.

In [37]:
country = 'China'
df_country = pd.DataFrame([country])
source = 'Global Times'
df_source = pd.DataFrame([source])
file_name = 'globaltimes_7'
df_file_name = pd.DataFrame([file_name])

Finally, the news.

In [38]:
news1 = []
for news in bsobj.findAll('div',{'class':'span12 row-content'}):
    news1.append(news.text.strip())

In [40]:
len(news1)

1

In [41]:
df_news = pd.DataFrame()

In [42]:
df_news['article_body'] = news1

In [43]:
df_news.head(2)

                                        article_body
0  A Huawei store stands next to a Globe Telecom ...

In [44]:
df_news['article_body'] = df_news.article_body.str.cat(sep=' ')

In [45]:
df_news = df_news.article_body[0]

In [46]:
df_news = df_news.replace(r'\\?','')

In [47]:
df_news = pd.DataFrame([df_news])

In [48]:
type(df_news)

pandas.core.frame.DataFrame

In [49]:
df_news.columns = ['Article']

In [50]:
df_news.head()

                                             Article
0  A Huawei store stands next to a Globe Telecom ...

**Bringing it together.**<a id='2.5_bit'></a>

In [51]:
df_7_global_times = pd.concat([df_file_name,df_date,df_source,df_country,df_title,df_news],axis = 1, ignore_index=False)

In [52]:
df_7_global_times.columns = ['file_name','date','source','country','title','article']

In [53]:
df_7_global_times.head()

,file_name,date,source,country,title,article
0,globaltimes_7,2020-07-06,Global Times,China,"London’s measures meaningless, ‘bluff rather t...",A Huawei store stands next to a Globe Telecom ...

**Saving**<a id='2.6_save'></a>

In [54]:
cd

C:\Users\rands

Saving it to Excel.

In [55]:
# df = pd.DataFrame(reviewlist)

# index=False below so that we don't get the dataframe index on the side; we just use the excel index
df_7_global_times.to_csv('./_Capstone_Two_NLP/data/_news/globaltimes_7.csv', index=False)

print('Complete')

Complete